/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/*** Styling Radio & Checkbox Input Fields (start here) ***/
label {
    font-weight: 600;
    margin-bottom: 11px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
	line-height: 3em;
}

input[type="radio"] + label {
	border-radius: 50px;
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
	color: #ccc !important;
	cursor: not-allowed;
}
input[type="radio"]:checked:disabled + label:after,
input[type="checkbox"]:checked:disabled + label:after {
	border-color: #ccc;
}

input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
	content: "";
	width: 26px;
	height: 26px;
	float: left;
	margin-right: 0.5em;
	border: 2px solid #ccc;
	margin-top: 0.5em;
}
input[type="radio"] + label:before {
	border-radius: 100%;
}

input[type="radio"]:checked + label:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid #59ff5c;
	float: left;
	margin-left: -1.85em;
	margin-top: 1em;
	border-radius: 100%;
}

input[type="radio"]:checked + label:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid #59ff5c;
	float: left;
	margin-left: -1.85em;
	margin-top: 1em;
	border-radius: 100%;
}

input[type="radio"]:checked + label:before {
    background-color: #fff;
    transition: all 0.3s ease;
}

input[type="radio"]:checked:disabled + label {
	background: #ccc;
	color: #fff !important;
}

input[type="radio"]:checked:disabled + label:before {
	border-color: #bdbdbd;
}


.x {
    font-size: 20px;
    color: #fff;
}

.img {
	width: 50%;
}

.img img{
	width: 150px;
}

.continue:hover {
    border-bottom: 2px solid #3e5e13;
    background-color: #a1e661;
}

.continueIncorrect:hover {
	border-bottom: 2px solid #5e1313;
    background-color: #e66161;
}




.A.correct {
	border: 2px solid #7ae471;
    background-color: #3d4a69;
}

.B.correct {
	border: 2px solid #7ae471;
    background-color: #3d4a69;
}

.C.correct {
	border: 2px solid #7ae471;
    background-color: #3d4a69;
}



.B.Incorrect {
	border: 2px solid #e47171;
    background-color: #693d3d;
}

.C.Incorrect {
	border: 2px solid #e47171;
    background-color: #693d3d;
}

.A.disabled {
    background-color: #2a33496e;
    border: 2px solid rgba(255, 255, 255, 0.205);
    color: rgba(255, 255, 255, 0.205);
    pointer-events: none;
}

.B.disabled {
    background-color: #2a33496e;
    border: 2px solid rgba(255, 255, 255, 0.205);
    color: rgba(255, 255, 255, 0.205);
    pointer-events: none;
}

.C.disabled {
    background-color: #2a33496e;
    border: 2px solid rgba(255, 255, 255, 0.205);
    color: rgba(255, 255, 255, 0.205);
    pointer-events: none;
}

.verification.veri:hover {
    background-color: #7028d4;
}

.verification.veri {
    border-bottom: 3px solid #00000056;
    background-color: #6323bd;
    cursor: pointer;
}



/* ALERTASSS */
.alertCorrect.active {
    transform: translateX(5%);
    transition: all 0.3s ease;
}

.alertIncorrect.active {
	transform: translateX(5%);
    transition: all 0.3s ease;
}

.color:nth-child(1n) {
    border-radius: 10px 0 0 10px;
}

.color:nth-child(2n) {
    border-radius: 0;
}

.color:nth-child(3n) {
    border-radius: 0;
}

.color:nth-child(4n) {
    border-radius: 0 10px 10px 0;
  }

.color.active {
    width: 63px;
}